@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #4C5261;
}

.table-div {
    width: 300px;
    margin: 50px auto;
    padding-top: 10px;
    border: 1px solid aliceblue;
    height: 100%;
    text-align: center;
    border-radius: 10px;
}

table {
    width: 300px;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    color: #f8f7f7;

}

th.wide-header {
    width: 100%;
    border-radius: 10px;
    text-align: center;

}

#searchInput,
#addInput {
    margin-bottom: 10px;
    padding: 5px;
    width: 280px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    text-align: center;
}

.fa-trash {
    cursor: pointer;
    color: red;
}